

.dialogWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--on-primary-level4);
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;
}

.dialog-hehe {

}
