.ripple-button {
	position: relative;
	overflow: hidden;
	outline: none;
	border: none;
}

// @keyframes ripple {
// 	to {
// 		transform: scale(4);
// 		// opacity: 0;
// 	}
// }

@keyframes calm-down {
	from {
		opacity: 0.3;
	}
	to {
		opacity: 0;
	}
}

.ripple {
	position: absolute; /* The absolute position we mentioned earlier */
	border-radius: 50%;
	z-index: 10;
	// width: 0;
	// height: 0;
	// visibility: hidden;
	// transform: scale(0);
	// transition-property: transform;
	// transition-duration: 1500ms;
	// transition-timing-function: linear;
	// transition: width 600ms linear, height 600ms linear;
	// transform: scale(0);
	// animation: ripple 600ms linear;
	background-color: var(--ripple-color, #fff);
	// opacity: 0.1;
	// opacity: --ripple-opacity;

	// height: 100px;
	// width: 100px;

	// width: 50%;
	// height: 50%;

	// left: 0;
	// // right: 0;
	// // top: 0;
	// // bottom: 0;

}

.ripple-calm {
	animation: calm-down 400ms linear;
	transform: scale(4);
	// background: green;
}
