.button {
  border-radius: 9999px;
  outline: none;
  border: none;
  padding: 0.75rem 1.25rem;
  font-weight: 500;
  font-size: 1rem;
  //height: 40px;
}

.primary {
  background-color: var(--primary40);
  color: var(--primary100);
  --ripple-color: var(--primary100);
  --background-coloring: var(--primary100);
}

.textButton {
  background-color: transparent;
  color: var(--primary40);
  --ripple-color: var(--primary40);
  --background-coloring: var(--primary40);
  &.disabled {
    color: var(--on-surface);
    opacity: 0.38;
  }
}

.blank {
  background-color: transparent;
  color: var(--on-surface);
  --ripple-color: var(--on-surface);
  --background-coloring: var(--on-surface);
}

.tonal {
  background-color: var(--secondary90);
  color: var(--secondary10);
  --ripple-color: var(--secondary10);
  --background-coloring: var(--secondary10);
}

.outlined {
  border: var(--outline) 1px solid;
  background-color: transparent;
  color: var(--primary40);
  --ripple-color: var(--primary40);
  //--background-coloring: var(--primary40);

  &.disabled {
    color: var(--on-surface);
    opacity: 0.38;
  }
}

.expanded {
  padding: 0.75rem 2rem;
  display: inline-block;
}

.icon {
  padding: 0.5rem;
  aspect-ratio: 1;
}
