

.body {
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
  background: var(--surface);
}

.mainPage {
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
}
