// @use
@use "@/app/styles/coloring.scss";

.listbox {
  position: relative;
  max-width: 400px;
  width: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.button {
  --ripple-color: var(--on-surface);
  --background-coloring: var(--on-surface);
  background-color: var(--surface-container);
  color: var(--on-surface);
  padding: 1.25rem 1.75rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  // position: static;
  transition: border-radius 1000ms var(--ease-decelerate);
  margin: 0 2rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;

  //@include coloring.surface-coloring(
  //  var(--on-surface-level-4),
  //  var(--on-surface-level-0)
  //);

  &Selected {
    border-end-end-radius: 0rem;
    border-end-start-radius: 0rem;
  }
}

.options {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  background-color: var(--surface-container);
  max-height: 300px;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  border-end-end-radius: 2rem;
  border-end-start-radius: 2rem;

  &:focus-visible {
    outline: none;
  }
  overflow-x: hidden;
}

.option {
  display: inline-block;
  padding: 1rem 0;
  flex-shrink: 0;
  border-radius: 0;
  --ripple-color: var(--on-surface);
  --surface-coloring: var(--on-surface);
  background-color: var(--surface-container);
  font-size: 1rem;
  transition:
    color 500ms var(--ease-decelerate),
    background-color 500ms var(--ease-decelerate);
  user-select: none;
}

.specialOption {
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: flex;
  -moz-box-pack: start;
  justify-content: flex-start;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  min-height: 48px;
  padding: 6px 16px;
  box-sizing: border-box;
  white-space: nowrap;
}

.opacity-leave,
.opacity-enter {
  transition: opacity var(--ease-decelerate) 500ms;
}

.opacity-leave-from,
.opacity-enter-to {
  opacity: 1;
}

.opacity-leave-to,
.opacity-enter-from {
  opacity: 0;
}
